.aliceblue {
    color: aliceblue;
    background-color: #f0f8ff;
}

.alizarin {
    color: alizarin;
    background-color: #e74c3c;
}

.amethyst {
    color: amethyst;
    background-color: #9b59b6;
}

.antiquewhite {
    color: antiquewhite;
    background-color: #faebd7;
}

.aqua {
    color: aqua;
    background-color: #00ffff;
}

.aquamarine {
    color: aquamarine;
    background-color: #7fffd4;
}

.asbestos {
    color: asbestos;
    background-color: #7f8c8d;
}

.azure {
    color: azure;
    background-color: #f0ffff;
}

.beige {
    color: beige;
    background-color: #f5f5dc;
}

.belizehole {
    color: belizehole;
    background-color: #2980b9;
}

.bisque {
    color: bisque;
    background-color: #ffe4c4;
}

.black {
    color: black;
    background-color: #000000;
}

.blanchedalmond {
    color: blanchedalmond;
    background-color: #ffebcd;
}

.blue {
    color: blue;
    background-color: #0000ff;
}

.blueviolet {
    color: blueviolet;
    background-color: #8a2be2;
}

.brown {
    color: brown;
    background-color: #a52a2a;
}

.buff {
    color: buff;
    background-color: #F0DC82;
}

.burlywood {
    color: burlywood;
    background-color: #deb887;
}

.cadetblue {
    color: cadetblue;
    background-color: #5f9ea0;
}

.carrot {
    color: carrot;
    background-color: #e67e22;
}

.chartreuse {
    color: chartreuse;
    background-color: #7fff00;
}

.chocolate {
    color: chocolate;
    background-color: #d2691e;
}

.clouds {
    color: clouds;
    background-color: #ecf0f1;
}

.concrete {
    color: concrete;
    background-color: #95a5a6;
}

.coral {
    color: coral;
    background-color: #ff7f50;
}

.cornflowerblue {
    color: cornflowerblue;
    background-color: #6495ed;
}

.cornsilk {
    color: cornsilk;
    background-color: #fff8dc;
}

.crimson {
    color: crimson;
    background-color: #dc143c;
}

.cyan {
    color: cyan;
    background-color: #00ffff;
}

.darkblue {
    color: darkblue;
    background-color: #00008b;
}

.darkbrown {
    color: darkbrown;
    background-color: #5C4033;
}

.darkbuff {
    color: darkbuff;
    background-color: #976638;
}

.darkcyan {
    color: darkcyan;
    background-color: #008b8b;
}

.darkgold {
    color: darkgold;
    background-color: #EEBC1D;
}

.darkgoldenrod {
    color: darkgoldenrod;
    background-color: #b8860b;
}

.darkgray {
    color: darkgray;
    background-color: #404040;
}

.darkgreen {
    color: darkgreen;
    background-color: #006400;
}

.darkgrey {
    color: darkgrey;
    background-color: #a9a9a9;
}

.darkivory {
    color: darkivory;
    background-color: #F2E58F;
}

.darkkhaki {
    color: darkkhaki;
    background-color: #bdb76b;
}

.darkmagenta {
    color: darkmagenta;
    background-color: #8b008b;
}

.darkmustard {
    color: darkmustard;
    background-color: #7C7C40;
}

.darkolivegreen {
    color: darkolivegreen;
    background-color: #556b2f;
}

.darkorange {
    color: darkorange;
    background-color: #ff8c00;
}

.darkorchid {
    color: darkorchid;
    background-color: #9932cc;
}

.darkpink {
    color: darkpink;
    background-color: #E75480;
}

.darkred {
    color: darkred;
    background-color: #8b0000;
}

.darksalmon {
    color: darksalmon;
    background-color: #e9967a;
}

.darksilver {
    color: darksilver;
    background-color: #AFAFAF;
}

.darkseagreen {
    color: darkseagreen;
    background-color: #8fbc8f;
}

.darkslateblue {
    color: darkslateblue;
    background-color: #483d8b;
}

.darkslategray {
    color: darkslategray;
    background-color: #2f4f4f;
}

.darkslategrey {
    color: darkslategrey;
    background-color: #2f4f4f;
}

.darkturquoise {
    color: darkturquoise;
    background-color: #00ced1;
}

.darkviolet {
    color: darkviolet;
    background-color: #9400d3;
}

.darkyellow {
    color: darkyellow;
    background-color: #FFCC00;
}

.deeppink {
    color: deeppink;
    background-color: #ff1493;
}

.deepskyblue {
    color: deepskyblue;
    background-color: #00bfff;
}

.dimgray {
    color: dimgray;
    background-color: #696969;
}

.dimgrey {
    color: dimgrey;
    background-color: #696969;
}

.dodgerblue {
    color: dodgerblue;
    background-color: #1e90ff;
}

.emerald {
    color: emerald;
    background-color: #2ecc71;
}

.firebrick {
    color: firebrick;
    background-color: #b22222;
}

.floralwhite {
    color: floralwhite;
    background-color: #fffaf0;
}

.forestgreen {
    color: forestgreen;
    background-color: #228b22;
}

.fuchsia {
    color: fuchsia;
    background-color: #ff00ff;
}

.gainsboro {
    color: gainsboro;
    background-color: #dcdcdc;
}

.ghostwhite {
    color: ghostwhite;
    background-color: #f8f8ff;
}

.gold {
    color: gold;
    background-color: #ffd700;
}

.goldenrod {
    color: goldenrod;
    background-color: #daa520;
}

.gray {
    color: gray;
    background-color: #808080;
}

.green {
    color: green;
    background-color: #008000;
}

.greensea {
    color: greensea;
    background-color: #16a085;
}

.greenyellow {
    color: greenyellow;
    background-color: #adff2f;
}

.grey {
    color: grey;
    background-color: #808080;
}

.honeydew {
    color: honeydew;
    background-color: #f0fff0;
}

.hotpink {
    color: hotpink;
    background-color: #ff69b4;
}

.indianred {
    color: indianred;
    background-color: #cd5c5c;
}

.indigo {
    color: indigo;
    background-color: #4b0082;
}

.ivory {
    color: ivory;
    background-color: #fffff0;
}

.khaki {
    color: khaki;
    background-color: #f0e68c;
}

.lavender {
    color: lavender;
    background-color: #e6e6fa;
}

.lavenderblush {
    color: lavenderblush;
    background-color: #fff0f5;
}

.lawngreen {
    color: lawngreen;
    background-color: #7cfc00;
}

.lemonchiffon {
    color: lemonchiffon;
    background-color: #fffacd;
}

.lightblack {
    color: lightblack;
    background-color: #808080;
}

.lightblue {
    color: lightblue;
    background-color: #add8e6;
}

.lightbrown {
    color: lightbrown;
    background-color: #9966FF;
}

.lightbuff {
    color: lightbuff;
    background-color: #ECD9B0;
}

.lightcoral {
    color: lightcoral;
    background-color: #f08080;
}

.lightcyan {
    color: lightcyan;
    background-color: #e0ffff;
}

.lightgold {
    color: lightgold;
    background-color: #F1E5AC;
}

.lightgoldenrod {
    color: lightgoldenrod;
    background-color: #FFEC8B;
}

.lightgoldenrodyellow {
    color: lightgoldenrodyellow;
    background-color: #fafad2;
}

.lightgray {
    color: lightgray;
    background-color: #d3d3d3;
}

.lightgreen {
    color: lightgreen;
    background-color: #90ee90;
}

.lightgrey {
    color: lightgrey;
    background-color: #d3d3d3;
}

.lightivory {
    color: lightivory;
    background-color: #FFF8C9;
}

.lightmagenta {
    color: lightmagenta;
    background-color: #FF77FF;
}

.lightmustard {
    color: lightmustard;
    background-color: #EEDD62;
}

.lightorange {
    color: lightorange;
    background-color: #D9A465;
}

.lightpink {
    color: lightpink;
    background-color: #ffb6c1;
}

.lightred {
    color: lightred;
    background-color: #FF3333;
}

.lightsalmon {
    color: lightsalmon;
    background-color: #ffa07a;
}

.lightseagreen {
    color: lightseagreen;
    background-color: #20b2aa;
}

.lightsilver {
    color: lightsilver;
    background-color: #E1E1E1;
}

.lightskyblue {
    color: lightskyblue;
    background-color: #87cefa;
}

.lightslategray {
    color: lightslategray;
    background-color: #778899;
}

.lightslategrey {
    color: lightslategrey;
    background-color: #778899;
}

.lightsteelblue {
    color: lightsteelblue;
    background-color: #b0c4de;
}

.lightturquoise {
    color: lightturquoise;
    background-color: #AFE4DE;
}

.lightviolet {
    color: lightviolet;
    background-color: #7A5299;
}

.lightyellow {
    color: lightyellow;
    background-color: #ffffe0;
}

.lime {
    color: lime;
    background-color: #00ff00;
}

.limegreen {
    color: limegreen;
    background-color: #32cd32;
}

.linen {
    color: linen;
    background-color: #faf0e6;
}

.magenta {
    color: magenta;
    background-color: #ff00ff;
}

.maroon {
    color: maroon;
    background-color: #800000;
}

.mediumaquamarine {
    color: mediumaquamarine;
    background-color: #66cdaa;
}

.mediumblue {
    color: mediumblue;
    background-color: #0000cd;
}

.mediumorchid {
    color: mediumorchid;
    background-color: #ba55d3;
}

.mediumpurple {
    color: mediumpurple;
    background-color: #9370db;
}

.mediumseagreen {
    color: mediumseagreen;
    background-color: #3cb371;
}

.mediumslateblue {
    color: mediumslateblue;
    background-color: #7b68ee;
}

.mediumspringgreen {
    color: mediumspringgreen;
    background-color: #00fa9a;
}

.mediumturquoise {
    color: mediumturquoise;
    background-color: #48d1cc;
}

.mediumvioletred {
    color: mediumvioletred;
    background-color: #c71585;
}

.midnightblue {
    color: midnightblue;
    background-color: #191970;
}

.midnightblack {
    color: midnightblack;
    background-color: #2c3e50;
}

.mintcream {
    color: mintcream;
    background-color: #f5fffa;
}

.mistyrose {
    color: mistyrose;
    background-color: #ffe4e1;
}

.moccasin {
    color: moccasin;
    background-color: #ffe4b5;
}

.mustard {
    color: mustard;
    background-color: #FFDB58;
}

.nephritis {
    color: nephritis;
    background-color: #27ae60;
}

.navajowhite {
    color: navajowhite;
    background-color: #ffdead;
}

.navy {
    color: navy;
    background-color: #000080;
}

.oldlace {
    color: oldlace;
    background-color: #fdf5e6;
}

.olive {
    color: olive;
    background-color: #808000;
}

.olivedrab {
    color: olivedrab;
    background-color: #6b8e23;
}

.orange {
    color: orange;
    background-color: #ffa500;
}

.orangered {
    color: orangered;
    background-color: #ff4500;
}

.orchid {
    color: orchid;
    background-color: #da70d6;
}

.palegoldenrod {
    color: palegoldenrod;
    background-color: #eee8aa;
}

.palegreen {
    color: palegreen;
    background-color: #98fb98;
}

.paleturquoise {
    color: paleturquoise;
    background-color: #afeeee;
}

.palevioletred {
    color: palevioletred;
    background-color: #db7093;
}

.papayawhip {
    color: papayawhip;
    background-color: #ffefd5;
}

.peachpuff {
    color: peachpuff;
    background-color: #ffdab9;
}

.peterriver {
    color: peterriver;
    background-color: #3498db;
}

.peru {
    color: peru;
    background-color: #cd853f;
}

.pink {
    color: pink;
    background-color: #ffc0cb;
}

.plum {
    color: plum;
    background-color: #dda0dd;
}

.pomegranate {
    color: pomegranate;
    background-color: #c0392b;
}

.powderblue {
    color: powderblue;
    background-color: #b0e0e6;
}

.purple {
    color: purple;
    background-color: #800080;
}

.pumpkin {
    color: pumpkin;
    background-color: #d35400;
}

.rebeccapurple {
    color: rebeccapurple;
    background-color: #663399;
}

.red {
  color: red;
    background-color: #ff0000;
}

.rosybrown {
    color: rosybrown;
    background-color: #bc8f8f;
}

.royalblue {
    color: royalblue;
    background-color: #4169e1;
}

.saddlebrown {
    color: saddlebrown;
    background-color: #8b4513;
}

.salmon {
    color: salmon;
    background-color: #fa8072;
}

.sandybrown {
    color: sandybrown;
    background-color: #f4a460;
}

.seagreen {
    color: seagreen;
    background-color: #2e8b57;
}

.seashell {
    color: seashell;
    background-color: #fff5ee;
}

.sienna {
    color: sienna;
    background-color: #a0522d;
}

.quiksilver {
    color: quiksilver;
    background-color: #bdc3c7;
}

.silver {
    color: silver;
    background-color: #c0c0c0;
}

.skyblue {
    color: skyblue;
    background-color: #87ceeb;
}

.slateblue {
    color: slateblue;
    background-color: #6a5acd;
}

.slategray {
    color: slategray;
    background-color: #708090;
}

.slategrey {
    color: slategrey;
    background-color: #708090;
}

.snow {
    color: snow;
    background-color: #fffafa;
}

.springgreen {
    color: springgreen;
    background-color: #00ff7f;
}

.steelblue {
    color: steelblue;
    background-color: #4682b4;
}

.sunflower {
    color: sunflower;
    background-color: #f1c40f;
}

.tan {
    color: tan;
    background-color: #d2b48c;
}

.teal {
    color: teal;
    background-color: #008080;
}

.thistle {
    color: thistle;
    background-color: #d8bfd8;
}

.tomato {
    color: tomato;
    background-color: #ff6347;
}

.turquoise {
    color: turquoise;
    background-color: #40e0d0;
}

.violet {
    color: violet;
    background-color: #ee82ee;
}

.wetasphalt {
    color: wetasphalt;
    background-color: #34495e;
}

.wisteria {
    color: wisteria;
    background-color: #8e44ad;
}

.wheat {
    color: wheat;
    background-color: #f5deb3;
}

.white {
    color: white;
    background-color: #ffffff;
}

.whitesmoke {
    color: whitesmoke;
    background-color: #f5f5f5;
}

.yellow {
    color: yellow;
    background-color: #ffff00;
}

.yellowgreen {
    color: yellowgreen;
    background-color: #9acd32;
}

.beekeeper {
    color: beekeeper;
    background-color: #f6e58d;
}

.spiced-nectarine {
    color: spiced nectarine;
    background-color: #ffbe76;
}

.pink-glamour {
    color: pink glamour;
    background-color: #ff7979;
}

.june-bud {
    color: june bud;
    background-color: #badc58;
}

.coastal-breeze {
    color: coastal breeze;
    background-color: #dff9fb;
}

.turbo {
    color: turbo;
    background-color: #f9ca24;
}

.quince-jelly {
    color: quince jelly;
    background-color: #f0932b;
}

.carmine-pink {
    color: carmine pink;
    background-color: #eb4d4b;
}

.pure-apple {
    color: pure apple;
    background-color: #6ab04c;
}

.hint-of-ice-pack {
    color: hint of ice pack;
    background-color: #c7ecee;
}

.middle-blue {
    color: middle blue;
    background-color: #7ed6df;
}

.heliotrope {
    color: heliotrope;
    background-color: #e056fd;
}

.exodus-fruit {
    color: exodus fruit;
    background-color: #686de0;
}

.deep-koamaru {
    color: deep koamaru;
    background-color: #30336b;
}

.soaring-eagle {
    color: soaring eagle;
    background-color: #95afc0;
}

.greenland-green {
    color: greenland green;
    background-color: #22a6b3;
}

.steel-pink {
    color: steel pink;
    background-color: #be2edd;
}

.blurple {
    color: blurple;
    background-color: #4834d4;
}

.deep-cove {
    color: deep cove;
    background-color: #130f40;
}

.wizard-grey {
    color: wizard grey;
    background-color: #535c68;
}

.highlighter-pink {
    color: highlighter pink;
    background-color: #ef5777;
}

.dark-periwinkle {
    color: dark periwinkle;
    background-color: #575fcf;
}

.megaman {
    color: megaman;
    background-color: #4bcffa;
}

.fresh-turquoise {
    color: fresh turquoise;
    background-color: #34e7e4;
}

.minty-green {
    color: minty green;
    background-color: #0be881;
}

.sizzling-red {
    color: sizzling red;
    background-color: #f53b57;
}

.free-speech-blue {
    color: free speech blue;
    background-color: #3c40c6;
}

.spiro-disco-ball {
    color: spiro disco ball;
    background-color: #0fbcf9;
}

.jade-dust {
    color: jade dust;
    background-color: #00d8d6;
}

.green-teal {
    color: green teal;
    background-color: #05c46b;
}

.narenji-orange {
    color: narenji orange;
    background-color: #ffc048;
}

.yriel-yellow {
    color: yriel yellow;
    background-color: #ffdd59;
}

.sunset-orange {
    color: sunset orange;
    background-color: #ff5e57;
}

.hint-of-elusive-blue {
    color: hint of elusive blue;
    background-color: #d2dae2;
}

.good-night {
    color: good night;
    background-color: #485460;
}

.chrome-yellow {
    color: chrome yellow;
    background-color: #ffa801;
}

.vibrant-yellow {
    color: vibrant yellow;
    background-color: #ffd32a;
}

.red-orange {
    color: red orange;
    background-color: #ff3f34;
}

.london-square {
    color: london square;
    background-color: #808e9b;
}

.black-pearl {
    color: black pearl;
    background-color: #1e272e;
}

.flat-flesh {
    color: flat flesh;
    background-color: #fad390;
}

.melon-melody {
    color: melon melody;
    background-color: #f8c291;
}

.livid {
    color: livid;
    background-color: #6a89cc;
}

.spray {
    color: spray;
    background-color: #82ccdd;
}

.paradise-green {
    color: paradise green;
    background-color: #b8e994;
}

.squash-blossom {
    color: squash blossom;
    background-color: #f6b93b;
}

.mandarin-red {
    color: mandarin red;
    background-color: #e55039;
}

.azraq-blue {
    color: azraq blue;
    background-color: #4a69bd;
}

.dupain {
    color: dupain;
    background-color: #60a3bc;
}

.aurora-green {
    color: aurora green;
    background-color: #78e08f;
}

.iceland-poppy {
    color: iceland poppy;
    background-color: #fa983a;
}

.tomato-red {
    color: tomato red;
    background-color: #eb2f06;
}

.good-samaritan {
    color: good samaritan;
    background-color: #3c6382;
}

.waterfall {
    color: waterfall;
    background-color: #38ada9;
}

.carrot-orange {
    color: carrot orange;
    background-color: #e58e26;
}

.jalapeno-red {
    color: jalapeno red;
    background-color: #b71540;
}

.dark-sapphire {
    color: dark sapphire;
    background-color: #0c2461;
}

.forest-blues {
    color: forest blues;
    background-color: #0a3d62;
}

.reef-encounter {
    color: reef encounter;
    background-color: #079992;
}

.jigglypuff {
    color: jigglypuff;
    background-color: #ff9ff3;
}

.casandora-yellow {
    color: casandora yellow;
    background-color: #feca57;
}

.pastel-red {
    color: pastel red;
    background-color: #ff6b6b;
}

.megaman {
    color: megaman;
    background-color: #48dbfb;
}

.wild-caribbean-green {
    color: wild caribbean green;
    background-color: #1dd1a1;
}

.lotus-pink {
    color: lotus pink;
    background-color: #f368e0;
}

.double-dragon-skin {
    color: double dragon skin;
    background-color: #ff9f43;
}

.amour {
    color: amour;
    background-color: #ee5253;
}

.cyanite {
    color: cyanite;
    background-color: #0abde3;
}

.dark-mountain-meadow {
    color: dark mountain meadow;
    background-color: #10ac84;
}

.jade-dust {
    color: jade dust;
    background-color: #00d2d3;
}

.joust-blue {
    color: joust blue;
    background-color: #54a0ff;
}

.nasu-purple {
    color: nasu purple;
    background-color: #5f27cd;
}

.light-blue-ballerina {
    color: light blue ballerina;
    background-color: #c8d6e5;
}

.fuel-town {
    color: fuel town;
    background-color: #576574;
}

.aqua-velvet {
    color: aqua velvet;
    background-color: #01a3a4;
}

.bleu-de-france {
    color: bleu de france;
    background-color: #2e86de;
}

.bluebell {
    color: bluebell;
    background-color: #341f97;
}

.storm-petrel {
    color: storm petrel;
    background-color: #8395a7;
}

.imperial-primer {
    color: imperial primer;
    background-color: #222f3e;
}

.orchid-orange {
    color: orchid orange;
    background-color: #fea47f;
}

.spiro-disco-ball {
    color: spiro disco ball;
    background-color: #25ccf7;
}

.honey-glow {
    color: honey glow;
    background-color: #eab543;
}

.sweet-garden {
    color: sweet garden;
    background-color: #55e6c1;
}

.falling-star {
    color: falling star;
    background-color: #cad3c8;
}

.rich-gardenia {
    color: rich gardenia;
    background-color: #f97f51;
}

.clear-chill {
    color: clear chill;
    background-color: #1b9cfc;
}

.sarawak-white-pepper {
    color: sarawak white pepper;
    background-color: #f8efba;
}

.keppel {
    color: keppel;
    background-color: #58b19f;
}

.ships-officer {
    color: ships officer;
    background-color: #2c3a47;
}

.fiery-fuchsia {
    color: fiery fuchsia;
    background-color: #b33771;
}

.bluebell {
    color: bluebell;
    background-color: #3b3b98;
}

.georgia-peach {
    color: georgia peach;
    background-color: #fd7272;
}

.oasis-stream {
    color: oasis stream;
    background-color: #9aecdb;
}

.bright-ube {
    color: bright ube;
    background-color: #d6a2e8;
}

.magenta-purple {
    color: magenta purple;
    background-color: #6d214f;
}

.ending-navy-blue {
    color: ending navy blue;
    background-color: #182c61;
}

.sasquatch-socks {
    color: sasquatch socks;
    background-color: #fc427b;
}

.pine-glade {
    color: pine glade;
    background-color: #bdc581;
}

.highlighter-lavender {
    color: highlighter lavender;
    background-color: #82589f;
}

.bright-lilac {
    color: bright lilac;
    background-color: #cd84f1;
}

.pretty-please {
    color: pretty please;
    background-color: #ffcccc;
}

.light-red {
    color: light red;
    background-color: #ff4d4d;
}

.mandarin-sorbet {
    color: mandarin sorbet;
    background-color: #ffaf40;
}

.unmellow-yellow {
    color: unmellow yellow;
    background-color: #fffa65;
}

.light-purple {
    color: light purple;
    background-color: #c56cf0;
}

.young-salmon {
    color: young salmon;
    background-color: #ffb8b8;
}

.red-orange {
    color: red orange;
    background-color: #ff3838;
}

.radiant-yellow {
    color: radiant yellow;
    background-color: #ff9f1a;
}

.dorn-yellow {
    color: dorn yellow;
    background-color: #fff200;
}

.wintergreen {
    color: wintergreen;
    background-color: #32ff7e;
}

.electric-blue {
    color: electric blue;
    background-color: #7efff5;
}

.neon-blue {
    color: neon blue;
    background-color: #18dcff;
}

.light-slate-blue {
    color: light slate blue;
    background-color: #7d5fff;
}

.shadowed-steel {
    color: shadowed steel;
    background-color: #4b4b4b;
}

.weird-green {
    color: weird green;
    background-color: #3ae374;
}

.hammam-blue {
    color: hammam blue;
    background-color: #67e6dc;
}

.spiro-disco-ball {
    color: spiro disco ball;
    background-color: #17c0eb;
}

.light-indigo {
    color: light indigo;
    background-color: #7158e2;
}

.baltic-sea {
    color: baltic sea;
    background-color: #3d3d3d;
}

.sunflower {
    color: sunflower;
    background-color: #ffc312;
}

.energos {
    color: energos;
    background-color: #c4e538;
}

.blue-martina {
    color: blue martina;
    background-color: #12cbc4;
}

.lavender-rose {
    color: lavender rose;
    background-color: #fda7df;
}

.bara-red {
    color: bara red;
    background-color: #ed4c67;
}

.radiant-yellow {
    color: radiant yellow;
    background-color: #f79f1f;
}

.android-green {
    color: android green;
    background-color: #a3cb38;
}

.mediterranean-sea {
    color: mediterranean sea;
    background-color: #1289a7;
}

.lavender-tea {
    color: lavender tea;
    background-color: #d980fa;
}

.very-berry {
    color: very berry;
    background-color: #b53471;
}

.puffins-bill {
    color: puffins bill;
    background-color: #ee5a24;
}

.pixelated-grass {
    color: pixelated grass;
    background-color: #009432;
}

.merchant-marine-blue {
    color: merchant marine blue;
    background-color: #0652dd;
}

.forgotten-purple {
    color: forgotten purple;
    background-color: #9980fa;
}

.hollyhock {
    color: hollyhock;
    background-color: #833471;
}

.red-pigment {
    color: red pigment;
    background-color: #ea2027;
}

.turkish-aqua {
    color: turkish aqua;
    background-color: #006266;
}

.under-the-sea {
    color: under the sea;
    background-color: #1b1464;
}

.circumorbital-ring {
    color: circumorbital ring;
    background-color: #5758bb;
}

.magenta-purple {
    color: magenta purple;
    background-color: #6f1e51;
}

.protoss-pylon {
    color: protoss pylon;
    background-color: #00a8ff;
}

.periwinkle {
    color: periwinkle;
    background-color: #9c88ff;
}

.rise-n-shine {
    color: rise-n-shine;
    background-color: #fbc531;
}

.download-progress {
    color: download progress;
    background-color: #4cd137;
}

.seabrook {
    color: seabrook;
    background-color: #487eb0;
}

.vanadyl-blue {
    color: vanadyl blue;
    background-color: #0097e6;
}

.matt-purple {
    color: matt purple;
    background-color: #8c7ae6;
}

.nanohanacha-gold {
    color: nanohanacha gold;
    background-color: #e1b12c;
}

.skirret-green {
    color: skirret green;
    background-color: #44bd32;
}

.naval {
    color: naval;
    background-color: #40739e;
}

.nasturcian-flower {
    color: nasturcian flower;
    background-color: #e84118;
}

.lynx-white {
    color: lynx white;
    background-color: #f5f6fa;
}

.blueberry-soda {
    color: blueberry soda;
    background-color: #7f8fa6;
}

.mazarine-blue {
    color: mazarine blue;
    background-color: #273c75;
}

.blue-nights {
    color: blue nights;
    background-color: #353b48;
}

.harley-davidson-orange {
    color: harley davidson orange;
    background-color: #c23616;
}

.hint-of-pensive {
    color: hint of pensive;
    background-color: #dcdde1;
}

.chain-gang-grey {
    color: chain gang grey;
    background-color: #718093;
}

.pico-void {
    color: pico void;
    background-color: #192a56;
}

.electromagnetic {
    color: electromagnetic;
    background-color: #2f3640;
}